.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
    height: 3rem;
}
a {
    text-decoration: none;
}
h2 {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 10px;
    cursor: pointer;
}
span{
    animation: color-change 2s infinite;
    margin-right: 900px;
    
}

ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5rem 1.4rem;
}
ul li a:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

ul li a:active {
    color: #000
}

ul li a:active:after {
    background: transparent;
}

ul li a:hover:before {
    opacity: 1;
}

ul li a:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }





  